RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?req=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?req=$1&reqtw=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?req=$1&reqtw=$2&pringen=$3
